<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
</head>
<body>
    <h1>Привет, {{name | capitalize}}!</h1>
    <p>Вы находитесь по адресу {{request.url.path}}</p>
    <!-- Условные конструкции -->
    {% if is_admin %}
        <p>Вы администратор</p>
    {% endif %}
    <ul>
    <!-- Циклы -->
    {% for user in users %}
        <li>{{user}}</li>
    {% endfor %}
    </ul>
</body>
</html>